'.source.carp':
  'editor':
    'autoIndentOnPaste': false
    'commentStart': '; '
    'tabLength': 4
    'softTabs': true
    'preferredLineLength': 80
  'autocomplete':
    'extraWordCharacters': '-'
  'bracket-matcher':
     autocompleteCharacters: [
       '()'
       '[]'
       '{}'
       '\'\''
       '""'
       '``'
     ]
